body{
    width: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #289bf3, #2D5CFE);
}

.topic{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 10px;
    margin: 0px;
    background-color: #ced8e0;
    transform: translate(0px, -10px);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

}

h1{
    margin-bottom: 5px;
}

.wrapper{
    max-width: 405px;
    padding: 20px 0 30px;
    margin: 13px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0.3,0.3,0.3,0.3);
    justify-content: left;
}

.create-todo{
    width: 370px;
    text-align: center;
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 10px ;
    border-radius: 4px;
    letter-spacing: 0.3px;
    margin-left: 15px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);

}

.new-item{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
}

.new-item input{
    height: 100%;
    width: 250px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;

    padding: 4px;
    border: 2px solid #2578fd;
    color: #000000;
    padding-left: 10px;
}

.new-item input::placeholder{
    color: #bfbfbf;
}

.submit{
    height: 100%;
    width: 100px;
    text-align: center;
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    margin-top: 10px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%); 
}

.filters{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #444444;
}


.filters span{
    margin: 8px 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
}

.filters span.active{
    color: #3C87FF;
}

.todo-items{
    margin-top: 10px;
    margin-right: 5px;
    padding: 0 10px 5px 15px;
    overflow-y: auto;
    max-height: 300px;
}

.item{
    list-style: none;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    align-items: flex-start;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.todo-items div span{
    font-size: 1.5rem;
}


.todo-items li{
  margin:0;
  padding:5px;
  list-style: none;
}
.todo-items li{
  border-bottom: 2px solid grey;
  display:flex;
  justify-content: space-between;
}
.todo-items li:hover{
  background:rgba(0,0,0,0.25);
}
.todo-items li.done .item{
  text-decoration: line-through;
}
.todo-items div span{
  margin:5px;
  font-size:1em;
  cursor: pointer;
}
.new-item{
  display:none;
}
